:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.card{
  padding: 0px;
}

.movie-card{
  width: 100%;
  height: 50%;
  margin: auto;
}
.movie-card-companie{
  width: 30%;
  height: 20%;
  margin: auto;
  display: flex;
}
.movie-genero{
  display: inline-block;
  padding: 16px;
}

.fa-star{
  color: #f9f001;
}
.fa-earth-americas{
  color: darkgreen;
}

.fa-user{
  color: #1a1a1a;
}

.fa-calendar-days{
  color: crimson;
}

.fa-clock{
  color: #535bf2;
}

.videoMovie{
  height: 60vh;
}

.btn-inicio{
  background-color: #2196f3;
  border: none;
}

.fondo-list{
  background-color: #2196f3;
}
.btn-inicio:hover{
  background-color: #2196f3;
  opacity: 0.5;
}
.btn-inicio:active{
  background-color: #2196f3;
}


.barra{
  width: 90%;
  margin: auto;
}


.nav-menu{
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.posicion-sidebar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.posicion-navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  width: 100%;
}

.image-movie:hover{
  opacity: 0.7;
}

.posicion-contenedor{
  position: absolute;
  top: 100px;
  left: 16.5%;
  margin: auto;
}

.posicion-contenedor2{
  position: absolute;
  top: 100px;
  left: 0;
  margin: auto;
}

.posicion-contenedor-movie{
  position: absolute;
  top: 100px;
  left: 20%;
  right: 10%;
  margin: auto;
}

.posicion-contenedor2-movie{
  position: absolute;
  top: 100px;
  left: 10%;
  right: 10%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .posicion-contenedor{
    position: absolute;
    top: 100px;
    left: 25%;
    margin: auto;
  }
  
  .posicion-contenedor2{
    position: absolute;
    top: 100px;
    left: 0;
    margin: auto;
  }

  .posicion-contenedor-movie{
    position: absolute;
    top: 100px;
    left: 30%;
    right: 10%;
    margin: auto;
  }
  
  .posicion-contenedor2-movie{
    position: absolute;
    top: 100px;
    left: 10%;
    margin: auto;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1024px) and (max-width: 1280px) {
  .posicion-contenedor{
    position: absolute;
    top: 100px;
    left: 23%;
    right: 5%;
    margin: auto;
  }
  
  .posicion-contenedor2{
    position: absolute;
    top: 100px;
    left: 0;
    margin: auto;
  }

  .posicion-contenedor-movie{
    position: absolute;
    top: 100px;
    left: 30%;
    right: 10%;
    margin: auto;
  }
  
  .posicion-contenedor2-movie{
    position: absolute;
    top: 100px;
    left: 10%;
    margin: auto;
  }
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) {
  
  .posicion-contenedor{
    position: absolute;
    top: 100px;
    left: 30%;
    right: 5%;
    margin: auto;
  }
  
  .posicion-contenedor2{
    position: absolute;
    top: 100px;
    left: 0;
    margin: auto;
  }

  .posicion-contenedor-movie{
    position: absolute;
    top: 100px;
    left: 30%;
    right: 10%;
    margin: auto;
  }
  
  .posicion-contenedor2-movie{
    position: absolute;
    top: 100px;
    left: 10%;
    margin: auto;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .posicion-contenedor{
    position: absolute;
    top: 100px;
    left: 30%;
    right: 5%;
    margin: auto;
  }
  
  .posicion-contenedor2{
    position: absolute;
    top: 100px;
    left: 0;
    margin: auto;
  }

  .posicion-contenedor-movie{
    position: absolute;
    top: 100px;
    left: 30%;
    right: 10%;
    margin: auto;
  }
  
  .posicion-contenedor2-movie{
    position: absolute;
    top: 100px;
    left: 10%;
    margin: auto;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .posicion-contenedor{
    position: absolute;
    top: 100px;
    left: 30%;
    right: 5%;
    margin: auto;
  }
  
  .posicion-contenedor2{
    position: absolute;
    top: 100px;
    left: 0;
    margin: auto;
  }

  .posicion-contenedor-movie{
    position: absolute;
    top: 100px;
    left: 30%;
    right: 10%;
    margin: auto;
  }
  
  .posicion-contenedor2-movie{
    position: absolute;
    top: 100px;
    left: 10%;
    margin: auto;
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .posicion-contenedor{
    position: absolute;
    top: 100px;
    left: 30%;
    right: 5%;
    margin: auto;
  }
  
  .posicion-contenedor2{
    position: absolute;
    top: 100px;
    left: 0;
    margin: auto;
  }

  .posicion-contenedor-movie{
    position: absolute;
    top: 100px;
    left: 30%;
    right: 10%;
    margin: auto;
  }
  
  .posicion-contenedor2-movie{
    position: absolute;
    top: 100px;
    left: 10%;
    margin: auto;
  }

  
}